/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  text-align: center;
  color: #c52a0e;
  font-family: Helvetica Neue;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

/* Style the header */
.header {
  padding: 50px;
  text-align: center;
  background-color: #c52a0e ;
  color: black;
  text-transform: uppercase;
  text-decoration: hover;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
  font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,
  'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji',
  'Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #bd5d38;
}


body {
  color: black;
  font-family: Helvetica Neue;
}
.text-primary {
  color : black! important;

}

.main h2 {
  text-align: center;
  font-family: Helvetica Neue;
}

.side h3 {
  text-align: center;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: white; /* White background */
}

.skills {
  align-content: right;
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* Burnt Orange text color */
}

.html {width: 30%; background-color: #c52a0e;} /* Black */
.css {width: 30%; background-color: #c52a0e;} /* Black */
.js {width: 25%; background-color: #c52a0e;} /* Black */
.jQuery {width: 25%; background-color: #c52a0e;} /* Black */
.SQL {width: 25%; background-color: #c52a0e;} /* Black */


/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: white; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: black; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-size: 18px;
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #white; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #ddd; /* Grey background */
}
